.events .list-header {
    color: #CD0000;
}

.events .list-header:first-letter {
    text-transform: uppercase;
}


.events ul h3 {
    font-size: 1.1em;
    margin-bottom: 0;
}

.events ul h4 {
    margin-top: 0;
}

.events ul h4:first-letter {
    text-transform: uppercase;
}