.offers {
    overflow-x: auto;
    white-space: nowrap;
    text-align: center;
    margin: 0;
    overflow-y: hidden;
}

.offer {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    margin: 0px 5px;
    background-image: radial-gradient(red, #100, black);
    background-image: -webkit-radial-gradient(red, #100, black);
    background-image: -moz-radial-gradient(red, #100, black);
    background-image: -o-radial-gradient(red, #100, black);
    width: 300px;
    max-width: 70%;
}

.offer .expires {
    font-size: 0.6em;
}

.offer .expires:before {
    content: "Udløber: ";
}

.offers .no-offer {
    text-align: left;
    font-style: italic;
}

.offer h1 {
    text-align: center;
    margin: 0;
    color: red;
    z-index: 50;
    white-space: pre-line;
    font-size: 1.3em;
    height: 2.6em;
    margin: 0 1.3em;
}

.offer .poster {
    display: block;
    position: relative;
    margin: auto;
    width: 100%;
    background-image: linear-gradient(#FF2200, #CC0000, #0F0000);
    background-image: -webkit-linear-gradient(#FF2200, #CC0000, #0F0000);
    background-image: -moz-linear-gradient(#FF2200, #CC0000, #0F0000);
    background-image: -o-linear-gradient(#FF2200, #CC0000, #0F0000);
    width: 160px;
    height: 224px;
    overflow: hidden;
    border: 2px ridge white;
}

.offer img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    margin: auto;
    max-width: 140px;
    max-height: 170px;
    z-index: 10;
}

.poster .banner {
    position: absolute;
    top: 10px;
    right: -2.5em;
    padding: 0 3em;
    font-weight: bold;
    background-image: radial-gradient(white, yellow);
    background-image: -webkit-radial-gradient(white, yellow);
    -webkit-transform: rotate3d(0,0,1, 30deg);
    color: black;
    font-size: 1.7em;
}

.poster .price:after {
    content: ",-";
}

.poster .limit {
    position: absolute;
    bottom: 0;
    right: 0.1em;
    font-size: 0.6em;
}

.poster .limit:after {
     content: " tilbage";
}

.poster .used:before {
    content: "indløst";
    display: block;
    font-size: 1.2em;
}

.poster .upcomming:before {
    content: "Gyldig fra";
    display: block;
}

.poster .text {
    position: absolute;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    left: 0;
    right: 0;
    top: 80px;
    z-index: 20;
    font-size: 1.3em;
    background: rgba(255,255,255,0.4);
    -webkit-transform: rotate3d(0,0,1, -20deg);
}

#upcomming_offers button {
    display: none;
}

