<?xml version='1.0' encoding='utf-8'?>
<widget id="dk.baren" version="0.3.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Baren.dk</name>
    <description>
        Baren.dk
    </description>
    <author email="AFKpost@gmail.com">
        Andreas Kristiansen
    </author>
    
    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="3.5.0" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-targetSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    
    <icon src="res/icon/icon.png" />
    
    <gap:plugin name="com.phonegap.plugins.pushplugin" version="2.1.1" />
    <gap:plugin name="com.phonegap.plugins.barcodescanner" version="2.0.0" />
    <gap:plugin name="org.apache.cordova.device" version="0.2.8" />
    
    <access origin="https://baren.dk" />
</widget>
