<?xml version='1.0' encoding='utf-8'?>
<widget id="dk.baren" version="0.3.10" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Baren.dk</name>
    <description>
        Baren.dk
    </description>
    <author email="AFKpost@gmail.com">
        Andreas Kristiansen
    </author>
    
    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="3.5.0" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="SplashScreen" value="splash" />
    <preference name="SplashScreenDelay" value="3000" />
    
    <!-- plugins -->
    <gap:plugin name="com.phonegap.plugins.pushplugin" version="2.4.0" />
    <gap:plugin name="com.phonegap.plugins.barcodescanner" version="2.0.0" />
    <gap:plugin name="org.apache.cordova.device" version="0.2.12" />
    
    
    <!-- android -->
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-targetSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    
    <icon gap:platform="android" gap:qualifier="mdpi" src="res/android/mdpi/icon.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="res/android/hdpi/icon.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="res/android/xhdpi/icon.png" />
    <icon gap:platform="android" gap:qualifier="xxhdpi" src="res/android/xxhdpi/icon.png" />
    
    <gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="res/android/mdpi/splash.png"/>
    <gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="res/android/hdpi/splash.png"/>
    <gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="res/android/xhdpi/splash.png"/>
    
    <!-- iOS -->
    <icon gap:platform="ios" height="120" width="120" src="res/ios/icon.png"/>
    
    <gap:splash gap:platform="ios" width="640" height="960"  src="res/ios/splash_h960.png"  />
    <gap:splash gap:platform="ios" width="640" height="1136" src="res/ios/splash_h1136.png" />
    <gap:splash gap:platform="ios" width="750" height="1334" src="res/ios/splash_h1334.png" />
    
    <access origin="http://baren.dk" />
    <access origin="https://baren.dk" />
</widget>
